fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary

python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]

pydantic-settings
python-dotenv

pandas
openpyxl

python-multipart
aiofiles
fastapi-mail
apscheduler